<div class="container">
  <div class="row text-center justify-content-between" *ngIf="choice1 != null && choice2 != null">
    <div class="col-12">
      <h1>Vote now</h1>
    </div>
    <div class="col">
      <h2 class="m-0">{{ choice1.track.name }}</h2>
      <h3>{{ choice1.track.artists[0].name }}</h3>

      <img
        class="img-fluid"
        *ngIf="choice1.track.album.images"
        [src]="choice1.track.album.images[0].url"
      />

    </div>
    <div class="col-auto">
      <h1>VS</h1>
    </div>
    <div class="col">
      <h2 class="m-0">{{ choice2.track.name }}</h2>
      <h3>{{ choice2.track.artists[0].name }}</h3>

      <img
        class="img-fluid"
        *ngIf="choice2.track.album.images"
        [src]="choice2.track.album.images[0].url"
      />
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-12">
      <h1>Currently playing</h1>
    </div>
  </div>
</div>
